body, html {
  font-family: sans-serif;
  font-weight: 300;
}

.backlog-header {
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.backlog-project-name {
  color: rgb(110, 110, 110);
}

.backlog-project-name {
  margin: 5px 0px;
}

.view-options {
  display: flex;
}

.backlog-heading {
  margin: 5px 0px;
  font-weight: 400;
}

.dropdown-button {
  display: inline-flex;
  background-color: rgb(236, 236, 236);
  cursor: pointer;
  border-radius: 2px;
  margin: 8px 8px 4px 8px;
  border-width: 0px;
}

.dropdown-button:hover {
  display: inline-flex;
  background-color: rgb(221, 221, 221);
  cursor: pointer;
  border-radius: 2px;
  margin: 8px 8px 4px 8px;
}

.dropdown-button-active {
  display: inline-flex;
  background-color: rgb(85, 85, 85);
  cursor: pointer;
  border-radius: 2px;
  color: white;
  margin: 8px 8px 4px 8px;
  border-width: 0px;
}

.dropdown-button-text {
  font-size: 16px;
  padding: 8px 0px 8px 8px;
}

.dropdown-button-icon {
  margin: 6px 0px;
}

.dropdown-button-container, .dropdown-button-with-card {
  position: relative;
}

.dropdown-button-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgb(212, 212, 212);
  box-shadow: 0px 4px 8px rgba(93, 93, 93, 0.2);
  position: absolute;
  border-radius: 10px;
  width: 180px;
  right: 0;
}

.dropdown-button-card-option {
  background-color: white;
  color: rgb(105, 105, 105);
  border-width: 0px;
  text-align: left;
  font-size: 18px;
  padding: 7px 10px;
}

.dropdown-button-card-option:hover {
  background-color: rgb(235, 235, 235);
}